<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Finance</title>
</head>
<body>
    <header>
        <div class="brand">
            <p>Finance</p>
        </div>
        <ul class="login-register-links">
            <li><a href="/login">Log in</a></li>
        </ul>
    </header>
    <main>
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="comfirmpassword" placeholder="confirm password">
            <button type="submit">register</button>
        </form>
    </main>
</body>
</html>